/* Auteur: Rémi Langevin - Matricule: 20037847
 * Auteur: Stéphane Verville-Vohl - Matricule: 1059044 */

body {
    text-align: justify;
    text-justify: inter-word;
    padding-right: 10%;
    padding-left: 10%;
}

#udem{
    padding-bottom: 20px;
}

#diro{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30%;
    width: 50%;
}

.title{
    text-align: center;
}

.toEmph{
    font-weight: bold;
}

.commandline{
    font-family: monospace;
}

li{
    padding-bottom: 10px;
}
