/* Stephane Verville-Vohl et Remi Langevin */
/* background from http://www.androidwallpaperhd.com/static/wallpapers/star-wars-storm-toopers.jpg*/
body{
    background: url(thatsthejoke.jpg) top right no-repeat;
    background-attachment:fixed;
    background-size: 100% auto;
    color: #ccc;
    padding: 2em;
}

body > * {
    margin: 0.2em;
    padding: 0.5em;
    background-color: rgba(50,50,90,0.3);
    border-radius:0.3em;
}

.comment{
    color: black;
    background-color: rgba(136,136,136,0.8);
    padding: 1em;
    border-radius:0.3em;
    font-weight: bold;
}

/* Linked From */

span.word:after {
    content:"\a";
    white-space: pre;
}

span.source.linked:before{
    content:"\a\2022";
    white-space:pre;
}

span.source.linked{
    text-decoration:underline;
}

div[class^="level"] dt:before{
    content:"\2726"
}

div[class^="level"] dt:after{
    content:"\a";
    white-space: pre;
}
.startWith{
    list-style-type: circle
}

.startWith td:hover{
    background-color: #444;
}

.startWith th{
    text-decoration: underline;
}

.degreein th, .degreein td, .degreeOut th, .degreeOut td {
    border-bottom: 1px solid #444;
}

.degreein tr:hover,.degreeOut tr:hover {
    background-color: #444;
}
.nbNodes, .nbRelations, .nbRelationTypes{
    text-decoration: underline ;
}

.chaines{}

.chaine{
    border-bottom: 1px solid #444;
}

.chaine:hover{
    background-color: #444;
}

.chaine > span:before {
    padding: 0.5em;
}

.chaine > span:before {
    content: "\2794";
}

.chaine > span:first-child:before {
    content: "";
}

.bagOfWords > span:hover{
    background-color: #444;
}
.bagOfWords > span:after{
    content:"\a";
    white-space: pre;
}

.bagOfWords > .bow.title{
    font-weight: bold;
    text-decoration: underline ;
}
